amqp==2.2.1
anyjson==0.3.3
asn1crypto==0.22.0
billiard==3.5.0.3
celery==4.1.0
cffi==1.10.0
click==6.7
conda==4.3.21
cryptography==1.8.1
enum34==1.1.6
Flask==0.12.2
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.1.0
MarkupSafe==1.0
packaging==16.8
py==1.4.34
pycosat==0.6.2
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.1.4
pytest==3.2.1
pytz==2017.2
redis==2.10.6
requests==2.14.2
six==1.10.0
vine==1.1.4
Werkzeug==0.12.2
